@media only screen and (max-width: 600px) {
  .sidebar {
    background-color: red;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bars {
  display: none;
}

.icon {
  display: flex;
  gap: 15px;
}
