h1 {
  margin: 1rem 3rem;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

.carousel {
  position: relative;
  overflow: hidden;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 100%;
  color: #fff;
  margin: 0 15px;
  font-size: 4em;
}

.carouselescribe {
  position: absolute;
  bottom: 0;
  width: 12.5rem;
  color: white !important;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  background-color: blue;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
