*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  width: 328px;
}

.cardContainer {
  display: block;
  width: 100%;
  background-color: white;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
  padding-bottom: 1rem;
}

.container {
  width: 100%;
  margin-top: 1rem;
}

.content {
  width: 90%;
  align-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  border-left-width: 0.2rem;
  border-left-color: lightblue;
  background-color: #eee;
  padding-bottom: 1rem;
}

img {
  width: 100%;
  border-radius: 4rem;
  max-height: 100%;
  margin-top: 1rem;
}

.userlogin1 {
  text-align: right;
  background-color: #046a38;
  border-color: #046a38;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  height: 1.9rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding-top: 0.1rem;
  padding-right: 1rem;
}

.bikeuser {
  width: 100%;
  align-content: flex-end;
}

.bikename {
  text-align: end;
  font-size: 29px;
  color: #333;
  font-family: "Roboto Condensed", sans-serif;
}

.user_id,
.bike_id {
  background-color: #ddd;
  height: 1.9rem;
  font-size: large;
  text-align: center;
  padding-top: 0.2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.reserve,
.reserv_id {
  font-size: 19px;
  height: 0.1rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  margin-top: -0.1rem;
  background-color: #eee;
}

.userlogin {
  display: none;
}

.mainPagess {
  display: block;
  width: 80%;
  background-color: white;
  padding-left: 0;
  margin-left: 5rem;
}

@media screen and (min-width: 768px) {
  body {
    background-color: white;
    width: 1200px;
  }

  .cardContainer {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    background-color: white;
    border-radius: 2rem;
    margin-bottom: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0 13px 27px -5px, rgba(0, 0, 0, 0.3) 0 8px 16px -8px;
    height: 30.9rem;
  }

  .userlogin1 {
    display: none;
  }

  .container {
    width: 70%;
    margin-top: 2rem;
    padding-right: 2rem;
    position: relative;
  }

  .content {
    margin-top: 15rem;
    margin-left: -10.1rem;
    width: 50%;
    height: 12rem;
    background-color: white;
    position: relative;
  }

  img {
    width: 100%;
    border-radius: 4rem;
    margin-left: -10rem;
    margin-top: 4rem;
  }

  div .img {
    width: 70%;
    margin-left: 9.6rem;
    height: 500px;
  }

  .bikeuser {
    width: 14rem;
    align-content: flex-end;
    background-color: white;
    margin-left: 38rem;
  }

  .userlogin {
    display: flex;
    text-align: end;
    font-size: x-large;
    background-color: rgb(82, 201, 201);
    margin-top: -25rem;
    height: 3rem;
    width: 24rem;
    margin-right: 4rem;
    border-top-right-radius: 1rem;
    padding-top: 0.7rem;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: -2.9rem;
  }

  .bikename {
    text-align: end;
    font-size: 2.5rem;
    color: #333;
    font-family: "Roboto Condensed", sans-serif;
  }

  .user_id,
  .bike_id {
    width: 21rem;
    height: 3rem;
    background-color: #ddd;
    font-size: large;
    text-align: end;
    padding-top: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 1rem;
  }

  .reserve,
  .reserv_id {
    width: 24rem;
    font-size: large;
    text-align: end;
    padding-left: 1rem;
    margin-left: 2.6rem;
    background-color: white;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #eee;
    margin-top: 0.6rem;
    height: 4rem;
    padding-top: 1.4rem;
    position: relative;
  }

  .mainPagess {
    display: block;
    width: 80%;
    background-color: white;
    padding-left: 0;
    margin-left: 19rem;
  }

  button {
    margin-left: 9rem;
  }
}
