.home-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 9rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 30%;
    margin: 0px auto;
    text-align: center;
    font-size: 1.3rem;
    color: white;
    font-weight: 700;
    background: rgb(34,193,195);
    background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(253,187,45,1) 100%);
    border: 0px;
    cursor: pointer;
    transition: opacity 0.25s ease-out;
  }
  
  .button:hover{
    opacity: 0.8;
  }

  @media only screen and (max-width: 600px) {
    .home-div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

 
