* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.container-a {
  display: flex;
  width: 100%;
}

main {
  width: 90%;
  padding: 0 5rem;
}

.sidebar {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 200px;
  transition: all 0.5s;
  top: 0;
  left: 0;  
  bottom: 0;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 30px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: #fff;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}

.link:hover {
  background: lightskyblue;
  color: #000;
  transition: all 0.5s;
}

.active {
  background: lightskyblue;
  color: #000;
}

.icon,
.link_text {
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
    padding: 0 0.5rem;
  }

  .container-a {
    display: block !important;
    background-color: orange;
  }
}
